[SYSTEM]
base_url="http://localhost:3000"
session_expiration_minutes=30
file_storage_path="your/file/storage/path"

[MAIL]
sender="mailer@yourdomain.org"
server="your.mailserver.org"
port=465
username="your.mailserver.username.org"
password="your.mailserver.password.org"
tls=False
ssl=True